@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
/* body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #a9dce3;
    transition: 0.5s;
} */
body.active{
    background: #e1efe6;
}
.container{
    position: relative;
    width: 780px;
    height: 500px;
    margin-left: 12%;
    align-items: center;
    margin-left: 20%;
}
.background{
    position: absolute;
    top: 50px;
    width: 100%;
    height: 390px;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 5px 45px rgba(0, 0, 0, 1.15);
    display: flex;
    justify-content: center;
    align-items: center;
}
.background .box{
    position: relative;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.background .box h2{
    cursor: pointer;
    padding: 50px 20px;
    color:black; /*font color*/
    font-size: 2em;
    font-weight: 500;
    border: none;
}
.formBox{
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: #fff;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 45px rgba(0, 0, 0, 0.25);
    transition: 0.5s ease-in-out;
    overflow: hidden;
}
.formBox.active{
    left: 50%;
}
.formBox .form{
    position: absolute;
    left: 0;
    width: 100%;
    padding: 50px;
    transition: 0.5s;
}
.form{
    padding: 40px;
}
.formBox .signInForm{
    transition-delay: 0.25s;
}
.formBox.active .signInForm{
    left: -100%;
    transition-delay: 0s;
}
.formBox .registerForm{
    left: 100%;
}
.formBox.active .registerForm{
    left: 0;
    transition-delay: 0s;
}
.formBox .form form{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.formBox > .form > form > h3{
    font-size: 3em;
    color: #333;
    margin-bottom: 20px;
    font-weight: 500;
}
.formBox .form form input{
    border: 1px solid black;
    width: 100%;
    margin-bottom: 20px;
    padding-left: 10px;

    font-size: 1.8em;
   
}
.formBox .form form input[type="submit"]{
    background: #caf0d8;
    border: none;
    color: #fff;
    max-width: 100px;
    cursor: pointer;
}

.formBox .form form .forgot{
    color: #333;
}
.form_field.error input{border-color:red;}
.form_field.success input{border:2px solid green;}
.form_field small {
    color:red;
}
.form_signUp{
    color:red;
}


@media(max-width: 985px){
    .container{
        max-width: 350px;
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 13%;
    }
    .container .background{
        top: 0;
        height: 100%; 
    }
    .formBox{
        width: 100%;
        height: 400px;
        top: 0;
        box-shadow: none;
    }
    .background .box{
        position:absolute;
        width: 100%;
        height: 120px;
        bottom: 0;
    }
    .box.signIn{
        top: 0;
    }
    .formBox.active{
        left: 0;
        top: 130px;  
        height: 450px;
    }
}
@media(max-width: 380px){
    .container{
        max-width: 350px;
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -1%;
    }
    .container .background{
        top: 0;
        height: 100%; 
    }
    .formBox{
        width: 100%;
        height: 400px;
        top: 0;
        box-shadow: none;
    }
    .background .box{
        position:absolute;
        width: 100%;
        height: 120px;
        bottom: 0;
    }
    .box.signIn{
        top: 0;
    }
    .formBox.active{
        left: 0;
        top: 130px;  
        height: 450px;
    }
}