body {
    background-color: rgb(157, 233, 187);
    font-family: "Roboto", sans-serif;
    margin-top: 150px;
  }
  .su-box{
    
      width: 360px;
      height: 500px;
      margin: auto;
      background-color:rgb(46, 148, 114);
      border-radius: 3px;
    
  }
  .login-box {
    width: 360px;
    height: 280px;
    margin: auto;
    border-radius: 3px;
    background-color: rgb(46, 148, 114);
    color :#fff;
  }
  
  h1 {
    text-align: center;
    padding-top: 15px;
  }
  
  h4 {
    text-align: center;
  }
  
  form {
    width: 300px;
    margin-left: 20px;
  }
  
  form label {
    display: flex;
    margin-top: 20px;
    font-size: 18px;
  }
  .content{
    margin-top: 0px;
    width: 1200px;
    height: auto;
    margin: auto;
    color: #000000;
    position: relative;
}

.content .par{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
}

.content h1{
    font-family: 'Times New Roman';
    font-size: 50px;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 2px;
}

.content .cn{
    width: 160px;
    height: 40px;
    background: #ff7200;
    border: none;
    margin-bottom: 10px;
    margin-left: 520px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s ease;
    
}

.content .cn a{
    text-decoration: none;
    color: #000;
    transition: .3s ease;
}

.cn:hover{
    background-color: #fff;
}

.content span{
    color: #ff7200;
    font-size: 65px
}
  form input {
    width: 100%;
    padding: 7px;
    border: none;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 6px;
    outline: none;
  }
  input[type="button"] {
    width: 100px;
    height: 35px;
    margin-top: 20px;
    margin-left: 100px;
    border: none;
    background-color: rgb(133, 7, 138);
    color: white;
    font-size: 18px;
  }
  p {
    text-align: center;
    padding-top: 20px;
    font-size: 15px;
  }
  .para-2 {
    text-align: center;
    color: #000000;
    font-size: 15px;
    margin-top: -10px;
  }
  .para-2 a {
    color: #000000;
  }